:global(body) {
	background: #f4f4f4;
}
.app {
	font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu, 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #f4f4f4;
	:global(.navbar) {
		background-image: none;
		$barHeight: 60px;
		height : $barHeight;
		:global(.navbar-brand) {
			line-height: 30px;
			height: $barHeight;
			position: relative;
			padding-left: $barHeight;
			color: #5aa700;
			font-weight: bolder;
			.brand {
				position: absolute;
				$size: 60px;
				top: 0;
				left: 0;
				display: inline-block;
				background: transparent url('../../../static/img/iqiyi.png') no-repeat center center;
				width: $size;
				height: $size;
				background-size: 80%;
				margin: 0;
				border-radius: 0;
			}
			nav :global(.fa) {
				font-size: 2em;
				line-height: 20px;
			}
		}
		:global(.navbar-nav) {
			& > li {
			  & > a {
				line-height: $barHeight / 2;
			  }
			}
		}
	}
}
.appContent {
	margin: 50px 0; // for fixed navbar
}
